<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>CFBundleDisplayName</key><string>Aslan Arşiv</string><key>CFBundleName</key><string>Aslan Arşiv</string><key>CFBundleIdentifier</key><string>com.batuhanaslan.aslanarsiv</string><key>CFBundleShortVersionString</key><string>1.2</string><key>CFBundleVersion</key><string>2</string><key>UILaunchScreen</key><dict/><key>NSCameraUsageDescription</key><string>Belgeleri yüksek kaliteli PDF olarak taramak için kameraya erişim gerekir.</string><key>UIRequiredDeviceCapabilities</key><array><string>arm64</string></array></dict></plist>